@import "../../../../styles/globals.scss";

.card {
  display: grid;
  grid-template-rows: 12rem 1fr;
  box-shadow: 2px 2px 4px oklch(0% 0 0/10%);
  background-color: var(--theme-element);
  border-radius: 0.5rem;
  overflow: hidden;
  cursor: pointer;
  animation: fade-out ease 1000ms;

  &__image {
    height: 100%;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__text {
    display: flex;
    flex-flow: column wrap;
    gap: 1rem;
    padding: 25px 25px 45px 25px;
  }
  &__title {
    font-family: $main-family-bold;
    font-size: 1.4rem;
    color: var(--theme-text);
  }
  &__description {
    display: flex;
    flex-flow: column wrap;
    gap:0.25rem;
    font-family: $main-family-semi-bold;
    & h3 {
      font-size: 1.125rem;
      color: var(--theme-text);
    }
    & h3 span {
      font-family: $main-family-light;
      font-weight: 400;
    }
  }
}

.countries__default {
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: var(--theme-text);
}