.skeleton__grid {
  display: flex;
  gap: 7.5rem;
}
.skeleton__img {
  flex: 1;
  height: 100%;
  min-height: 400px;
  max-width: 500px;
  width: 100%;
  background-color: oklch(76.9% 0.027 229.25);
}
.skeleton__card {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
    gap: 3rem;
  padding-block: 3rem;
  border-radius: 0.5rem;
  overflow: hidden;
}
.skeleton__text {
  width: 70%;
  height: 1rem;
  background-color: oklch(76.9% 0.027 229.25);
}
.skeleton__title {
  width: 25%;
  height: 2rem;
  background-color: oklch(76.9% 0.027 229.25);
}
.skelton__body {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.skeleton__border {
  width: 70%;
  height: 1rem;
  background-color: oklch(76.9% 0.027 229.25);
}
.skeleton__column {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.skeleton__animation {
  animation: skeleton-loading 1s linear infinite alternate;
}
.skeleton__back {
  margin-bottom: 5rem;
}
.skeleton__back-button {
  width: 13%;
  height: 3rem;
  background-color: oklch(76.9% 0.027 229.25);
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }

  100% {
    background-color: hsl(200, 20%, 95%);
  }
}