<!-- eslint-disable prettier/prettier -->
<div class="skeleton__back">
  <div class="skeleton__back-button skeleton__animation"></div>
</div>
<div class="skeleton__grid">
  <div class="skeleton__img skeleton__animation"></div>
  <div class="skeleton__card">
    <header class="skeleton__title skeleton__animation"></header>
    <section class="skelton__body">
      <div class="skeleton__column">
        <div class="skeleton__text skeleton__animation"></div>
        <div class="skeleton__text skeleton__animation"></div>
        <div class="skeleton__text skeleton__animation"></div>
      </div>
      <div class="skeleton__column">
        <div class="skeleton__text skeleton__animation"></div>
        <div class="skeleton__text skeleton__animation"></div>
        <div class="skeleton__text skeleton__animation"></div>
      </div>
    </section>
    <footer class="skeleton__borders">
      <div class="skeleton__border skeleton__animation"></div>
    </footer>
  </div>
</div>
