@import "../../../../styles/globals.scss";

.country {
  &__wrapper {
    padding-block: 5rem;
  }
  &__back {
    margin-bottom: 5rem;
    button {
      display: inline-flex;
      align-items: center;
      gap: .7rem;
      color: var(--theme-text);
      background-color: var(--theme-element);
      box-shadow: 2px 2px 4px oklch(0% 0 0/10%), -2px -2px 4px oklch(0% 0 0/10%);
      border: none;
      border-radius: .5rem;
      cursor: pointer;
      padding: .875rem 2.375rem;
      svg {
        font-size: 1.5rem;
      }
    }
  }
  &__information {
    display: flex;
    gap: clamp(2.5rem, -3.1984rem + 11.8871vi, 7.5rem);

    @media (max-width: 767px) {
      flex-direction: column;
    }
  }
  &__flag {
    flex: 1;
    img {
      width: 100%;
      max-height: 400px;
      height: 100%;
    }
  }
  &__texts {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    gap: 1rem;
    padding-block: 2rem;
    color: var(--theme-text);
    @media (max-width: 767px) {
      padding-block: 1rem;
      gap: 2rem;
    }
  }
  &__title {
    font-size: 2rem;
    font-family: $main-family-bold;
  }
  &__description {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    @media (max-width: 767px) {
      flex-direction: column;
      gap: 2rem;
    }
  }
  &__border { 
      display: flex;
      align-items: center;
      gap: 1rem;
      font-size: 1rem;

      @media (max-width: 767px) {
        align-items: flex-start;
        flex-direction: column;
      }

      strong {
        max-width: 9rem;
        width: 100%;
      }

      span {
        font-size: 0.8rem;
        font-family: $main-family-light;
        font-weight: 400;
        line-height: 1;
        background-color: var(--theme-element);
        color: var(--theme-text);
        box-shadow: 2px 2px 4px oklch(0% 0 0/10%), -2px -2px 4px oklch(0% 0 0/10%);
        border-radius: .2rem;
        padding: .5rem 2rem;
      }

      @media (max-width: 767px) {
        strong {
          display: block;
        }
      }
  }
}
.country__border-btn {
  display: inline-flex;
  gap: 1rem;
  flex-wrap: wrap;
}
.column {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.column p {
  font-weight: 900;
}
.column p span{
  font-weight: 400;
}

.skeleton__wrapper {
  display: block;
  max-width: 80rem;
  width: 99%;
  margin: 0 auto;
}