@import "../../../../styles/globals.scss";

.header {
  box-shadow: 2px 2px 4px oklch(0% 0 0 / 10%);
  background-color: var(--theme-element);
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 1.5em;
  }
  &__title {
    font-size: clamp(1rem, 0.9104rem + 0.3774vw, 1.25rem);
    font-family: $main-family-bold;
    color: var(--theme-text);
  }
}

.dark-mode {
  display: flex;
  align-items: center;
  gap: .5em;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &__text {
    font-size: clamp(0.875rem, 0.8302rem + 0.1887vw, 1rem);
    font-family: $main-family-semi-bold;
    color: var(--theme-text);
  }
  &__svg {
    fill: var(--theme-text);
    margin-block-end: 0.3rem;
  }
}

.light-mode__svg {
  fill: var(--theme-text);
  margin-block-end: 0.3rem;
}

.modes {
  display: flex;
  gap: 1rem;
}