<!-- eslint-disable prettier/prettier -->
<div class="skeleton__grid">
  <div class="skeleton__card">
    <header class="skeleton__img skeleton__animation"></header>
    <footer class="skeleton__text">
      <div class="skeleton__title skeleton__animation"></div>
      <div class="skeleton__description skeleton__animation"></div>
      <div class="skeleton__description skeleton__animation"></div>
      <div class="skeleton__description skeleton__animation"></div>
    </footer>
  </div>
  <div class="skeleton__card">
    <header class="skeleton__img skeleton__animation"></header>
    <footer class="skeleton__text">
      <div class="skeleton__title skeleton__animation"></div>
      <div class="skeleton__description skeleton__animation"></div>
      <div class="skeleton__description skeleton__animation"></div>
      <div class="skeleton__description skeleton__animation"></div>
    </footer>
  </div>
  <div class="skeleton__card">
    <header class="skeleton__img skeleton__animation"></header>
    <footer class="skeleton__text">
      <div class="skeleton__title skeleton__animation"></div>
      <div class="skeleton__description skeleton__animation"></div>
      <div class="skeleton__description skeleton__animation"></div>
      <div class="skeleton__description skeleton__animation"></div>
    </footer>
  </div>
  <div class="skeleton__card">
    <header class="skeleton__img skeleton__animation"></header>
    <footer class="skeleton__text">
      <div class="skeleton__title skeleton__animation"></div>
      <div class="skeleton__description skeleton__animation"></div>
      <div class="skeleton__description skeleton__animation"></div>
      <div class="skeleton__description skeleton__animation"></div>
    </footer>
  </div>
  <div class="skeleton__card">
    <header class="skeleton__img skeleton__animation"></header>
    <footer class="skeleton__text">
      <div class="skeleton__title skeleton__animation"></div>
      <div class="skeleton__description skeleton__animation"></div>
      <div class="skeleton__description skeleton__animation"></div>
      <div class="skeleton__description skeleton__animation"></div>
    </footer>
  </div>
  <div class="skeleton__card">
    <header class="skeleton__img skeleton__animation"></header>
    <footer class="skeleton__text">
      <div class="skeleton__title skeleton__animation"></div>
      <div class="skeleton__description skeleton__animation"></div>
      <div class="skeleton__description skeleton__animation"></div>
      <div class="skeleton__description skeleton__animation"></div>
    </footer>
  </div>
  <div class="skeleton__card">
    <header class="skeleton__img skeleton__animation"></header>
    <footer class="skeleton__text">
      <div class="skeleton__title skeleton__animation"></div>
      <div class="skeleton__description skeleton__animation"></div>
      <div class="skeleton__description skeleton__animation"></div>
      <div class="skeleton__description skeleton__animation"></div>
    </footer>
  </div>
  <div class="skeleton__card">
    <header class="skeleton__img skeleton__animation"></header>
    <footer class="skeleton__text">
      <div class="skeleton__title skeleton__animation"></div>
      <div class="skeleton__description skeleton__animation"></div>
      <div class="skeleton__description skeleton__animation"></div>
      <div class="skeleton__description skeleton__animation"></div>
    </footer>
  </div>
  <div class="skeleton__card">
    <header class="skeleton__img skeleton__animation"></header>
    <footer class="skeleton__text">
      <div class="skeleton__title skeleton__animation"></div>
      <div class="skeleton__description skeleton__animation"></div>
      <div class="skeleton__description skeleton__animation"></div>
      <div class="skeleton__description skeleton__animation"></div>
    </footer>
  </div>
</div>
